<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
  <title>中北图书馆的小黑屋</title>
  <link rel="stylesheet" type="text/css" href="//ajax.lug.ustc.edu.cn/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.css">
  <style type="text/css">
    body,
    input {
      font-family: "黑体"
    }

    body {
      background-color: rgba(0,0,0,0.04);
    }

    md-toast.md-success-toast-theme .md-toast-content {
      background-color: #4caf50;
    }

    md-toast.md-error-toast-theme .md-toast-content {
      background-color: #f44336;
    }

    md-toast.md-warning-toast-theme .md-toast-content {
      background-color: #40c4ff;
    }
    md-input-container .md-errors-spacer {
      min-height: 0;
    }
    .md-subheader {
      background: #fff;
    }
  </style>
</head>

<body ng-app="App" ng-controller='AppCtrl' ng-cloak>
  <div layout="row" flex>
    <div flex></div>
    <div style="max-width:600px" id="mainPanel">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">你要去小黑屋吗？</span>
            <span class="md-subhead">小黑屋,屋屋屋屋屋~</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout-padding>
          <div layout="column">
            <h3 class="md-display-headline"></h3>
            <div layout-padding>
              <p class="md-subheader">选择房间类型</p>
              <md-radio-group ng-model="selectedRoomType" layout="row" layout-wrap>
                <md-radio-button layout-padding ng-repeat="roomType in roomTypes" value="{{roomType.e}}">
                  {{roomType.c}}
                </md-radio-button>
              </md-radio-group>
            </div>
            <md-divider class="md-margin"></md-divider>
            <div layout="row" layout-xs="column" layout-align="space-around center">
              <div flex layout="row" layout-align="center center">
                <md-datepicker ng-model="reservation.date" md-placeholder="日期" md-min-date="theDayAfterTomorrow" md-max-date="nextMonthsToday" ng-change="checkReservations()">
                </md-datepicker>
              </div>
              <div flex>
                <p ng-show="reserveLimit >= 0 && reservesOnDate >= 0">
                  当日预约使用量<b>{{reservesOnDate}}/{{reserveLimit}}</b>
                </p>
              </div>
            </div>
            <md-divider class="md-margin"></md-divider>
            <div layout="row" layout-xs="column" layout-align="space-around center">
              <div>
                <md-input-container>
                  <label>房间</label>
                  <md-select ng-disabled="selectedRoomType == undefined" ng-model="reservation.room">
                    <md-option ng-repeat="room in rooms[selectedRoomType]" value="{{room}}">
                      {{room}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div layout="column">
                <div flex layout="row" layout-align="center center">
                  <md-subheader>起始时间</md-subheader>
                  <div layout="row">
                    <div>
                      <md-input-container>
                        <label>时</label>
                        <md-select ng-model="reservation.beginTime.hour">
                          <md-option ng-repeat="hour in hours" value="{{hour}}">
                            {{hour}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div>
                      <md-input-container>
                        <label>分</label>
                        <md-select ng-model="reservation.beginTime.minute">
                          <md-option ng-repeat="minute in minutes" value="{{minute}}">
                            {{minute}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                  </div>
                </div>
                <div flex layout="row" layout-align="center center">
                  <md-subheader>结束时间</md-subheader>
                  <div layout="row">
                    <div>
                      <md-input-container>
                        <label>时</label>
                        <md-select ng-model="reservation.endTime.hour">
                          <md-option ng-repeat="hour in hours" value="{{hour}}">
                            {{hour}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div>
                      <md-input-container>
                        <label>分</label>
                        <md-select ng-model="reservation.endTime.minute">
                          <md-option ng-repeat="minute in minutes" value="{{minute}}">
                            {{minute}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <md-divider class="md-margin"></md-divider>
            <div layout="row" layout-wrap layout-padding>
              <md-input-container>
                <label>学号</label>
                <input type="text" ng-model="reservation.stuID">
              </md-input-container>
              <md-input-container>
                <label>密码</label>
                <input type="password" ng-model="reservation.stuPsw">
              </md-input-container>
            </div>
            <md-divider class="md-margin" ng-if="selectedRoomType=='medium'"></md-divider>
            <div ng-if="selectedRoomType=='medium'" layout="row" layout-wrap layout-padding>
              <md-input-container>
                <label>其他学号</label>
                <input type="text" ng-model="reservation.stuID1">
              </md-input-container>
              <md-input-container>
                <label>其他学号</label>
                <input type="text" ng-model="reservation.stuID2">
              </md-input-container>
            </div>
            <div ng-if="selectedRoomType=='medium'" layout="row" layout-wrap layout-padding>
              <md-input-container>
                <label>其他学号</label>
                <input type="text" ng-model="reservation.stuID3">
              </md-input-container>
              <md-input-container>
                <label>其他学号</label>
                <input type="text" ng-model="reservation.stuID4">
              </md-input-container>
            </div>
            <md-button class="md-raised md-primary" flex ng-disabled="false" ng-click="submit()">
              预约
            </md-button>
          </div>
        </md-card-content>
        <md-card>
    </div>
    <div flex></div>
  </div>
</body>
<script type="text/javascript" src="//ajax.lug.ustc.edu.cn/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="//ajax.lug.ustc.edu.cn/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
<script src="//ajax.lug.ustc.edu.cn/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
<script src="//ajax.lug.ustc.edu.cn/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</html>
